.booking-row {
  display: flex;
  flex-direction: column; /* Mobile first: uno encima de otro */
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  text-align: center;
  border-bottom: 2px solid var(--soft-white);
}

.pet-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.pet-name {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.breed {
  color: var(--text-gray);
  font-size: 0.85rem;
  margin: 0;
}

.service {
  font-size: 1rem;
}

.booking-end {
  color: var(--accent);
  font-weight: 600;
  border-radius: 20px;
}



.price {
  font-weight: 700;
  font-size: 1.2rem;
}

/* --- TABLET / DESKTOP (Layout de Fila) --- */
@media (min-width: 768px) {
  .booking-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--pure-white);
    box-shadow: none;
    text-align: start;
    gap: 1.5em;
  }

  .pet-data {
    flex-direction: row;
    justify-content: start;
  }

  .pet-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .requester-label {
    display: none; /* En desktop no hace falta el label "Owner" si están alineados */
  }
}
