.section-title {
  font-variant: small-caps;
  letter-spacing: 0.03em;
  color: var(--text-gray);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.cards-container {
  display: flex;
  flex-direction: row; /* Cambiamos a horizontal */
  flex-wrap: wrap; /* Si no caben, saltan de línea */
  gap: 1rem;
  width: 100%;
}

.cards-container > * {
  flex: 1 1 250px; /* They grow, shrink and has a minimum of 250px */
}
