.bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  grid-template-rows: auto;
  align-items: start;
  height: 100%;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--soft-white);
}
