.title-welcome {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.p-welcome {
  font-size: 1.1rem;
  color: var(--text-gray);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.dashboard-container {
  max-width: 1400px;
  padding: 2rem;
  margin: 0 auto;
}

/*Base: mobile  */
.bento-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Tablet: 2 columns */
@media (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop: */
@media (min-width: 1024px) {
  .bento-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
  }

  /* Optional classes for giving Bento shape */
  .bento-grid > section:nth-child(1) {
    grid-column: span 2;
  } /* Earnings wider */
  .bento-grid > section:nth-child(2) {
    grid-column: span 2;
  } /* Pet Stats */
  .bento-grid > section:nth-child(3) {
    grid-column: span 3;
  } /* Current Bookings (priority) */
  .bento-grid > section:nth-child(4) {
    grid-column: span 1;
  } /* Future Bookings */
  .bento-grid > section:nth-child(5) {
    grid-column: span 4;
  } /* Reviews abajo a lo ancho */
}
